.upload-wrapper {
    background-color: #E8F1F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 12.071em;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 0.643em;
}

.upload-wrapper__label {
    position: relative;
    border-radius: 3.571em;
	background-color: #CBD6DC;
    color: #306685;
    padding: 0.714em 2.357em;
    margin: 0.929em auto 0.5em auto;
    cursor: pointer;
    z-index: 1;
}

.upload-wrapper__label::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3.125em;
    background-color: #a4cadb;
    opacity: 0;
    transition: opacity 200ms ease-out;
    z-index: -1;
    will-change: opacity;
}

.upload-wrapper__label:hover::after {
    opacity: 1;
}

.upload-wrapper__photo-icon {
    height: 4.286em;
    width: 4.857em;
    margin-top: 1.571em;
}

.upload-wrapper__photo {
    max-height: 100%;
    width: 100%;
    object-fit: contain;
}

.upload-wrapper input {
    position: absolute;
    overflow: hidden;
    clip-path: inset(100%);
    width: 1px;
    height: 1px;
}

.upload-wrapper p {
    font-size: 0.714em;
}

.title-category-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: solid 1px #B3B3B3;
    padding-bottom: 3.357em;
}

.modal-form {
    height: 100%;
    margin-top: 2.571em;
}

.modal-form__label {
    margin-top: 1.5em;
    margin-bottom: 0.714em;
}

.modal-form__not-valid {
    background-color: #A7A7A7;
    pointer-events: none;
}