body {
	font-family: 'Work Sans' ;
	font-size: 14px;
	background-color: #FFFEF8;
}

header {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
	margin: 0 auto;
	max-width: 1140px;
}

main {
	max-width: 1140px;
	margin: auto;
}

section {
	margin: 50px 0
}

footer {
	background-color: white;
	width: 100%;
	padding-top: 24px;
	padding-bottom: 20px;
}

footer nav {
	margin-right: 100px;
    margin-left: 100px;
}