.body-login {
    min-height: 100vh;
    position: relative;
}

.login {
    text-align: center;
    width: 50%;
    margin: auto;
    flex: 1;
    min-height: 100%;
}

.forgot-password {
    text-decoration: underline;
}

.footer-login {
    position: absolute;
    left: 0;
    bottom: 0;
}

.login-form {
    margin-top: 0.5em;
}

.login-form__label {
    margin: 2.143em 0 0.5em 0;
}

.login-form__btn {
    margin: 2.571em auto 2em auto;
}