.body-login {
    min-height: 100vh;
    position: relative;
}

.login {
    text-align: center;
    width: 50%;
    margin: auto;
    flex: 1;
    min-height: 100%;
}

.forgot-password {
    text-decoration: underline;
}

.footer-login {
    position: absolute;
    left: 0;
    bottom: 0;
}

#error {
    text-align: center;
}

.error-msg {
    border: solid 1px rgb(184, 9, 6);
    background-color: rgb(255, 195, 194);
    display: inline;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
}
