.error-msg {
    border: solid 1px rgb(184, 9, 6);
    background-color: rgb(255, 195, 194);
    display: inline;
    padding: 10px;
    margin: auto;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
    display: inline-block;
}