form {
	text-align: left;
	/* margin-top: 2.143em; */
	display: flex;
	flex-direction: column;
}

form input {
	height: 3.571em;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.form input[type=file] {
	opacity: 0;
}

form label {
	font-weight: 500;
	font-size: 1em;
}
form textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}